<%= simple_form_for @recipe do |f| %>
  <div class='col-md-6'>
    <%= f.input :name, label: 'Título' %>
  </div>
  <div class='col-md-3'>
    <%= f.input :level, collection: ['Fácil', 'Médio', 'Difícil'], label: 'Dificuldade' %>
  </div>
  <div class='col-md-3'>
    <%= f.input :cook_time, collection: 1..180, label: 'Preparo (em minutos)' %>
  </div>
  <div class='col-md-3'>
    <%= f.association :cuisine, label_method: :description, value_method: :id, include_blank: false, label: 'Cozinha' %>
  </div>
  <div class='col-md-3'>
    <%= f.association :dish, label_method: :description, value_method: :id, include_blank: false, label: 'Tipo' %>
  </div>
  <div class='col-md-3'>
    <%= f.association :preference, label_method: :description, value_method: :id, include_blank: false, label: 'Preferência de comida' %>
  </div>
  <div class='col-md-3'>
    <%= f.input :serves, collection: 1..50, label: 'Serve (nº pessoas)' %>
  </div>
  <div class='col-md-6'>
    <%= f.input :ingredients, as: :text, label: 'Ingredientes' %>
  </div>
  <div class='col-md-6'>
  <%= f.input :directions, as: :text, label: 'Modo de Preparo' %>
  </div>
  <div class='col-md-6'>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.input :photo, as: :file, label: 'Foto' %>
  </div>
  <div class='col-md-12'>
    <%= link_to 'Voltar', recipes_path, class: 'btn btn-default' %>
    <%= f.submit "#{action} receita", class: 'btn btn-default' %>
  </div>
<% end %>
