<div class='row'>
  <div class='col-md-3'>
    <%= cl_image_tag(recipe.photo.thumbnail.url, alt: recipe.name, width: 250) %>
  </div>
  <div class='col-md-3'>
    <%= link_to recipe.name, recipe %>
    <br />
    <dl class='dl-horizontal'>
      <dt>Preferências</dt>
      <dd><%= recipe.food_preference %></dd>
      <dt>Tipo</dt>
      <dd><%= recipe.food_type %></dd>
      <dt>Cozinha</dt>
      <dd><%= recipe.cuisine %></dd>
      <dt>Dificuldade</dt>
      <dd><%= recipe.level %></dd>
    </dl>
  </div>
</div>
