<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Social Recipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to '<3 Receitas', root_path, class: 'navbar-brand' %>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Receitas <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Nova Receita', new_recipe_path %></li>
            </ul>
          </li>
          <li><%= link_to 'Cozinhas', cuisines_path %></li>
          <li><%= link_to 'Tipos de Prato', dishes_path %></li>
          <li><%= link_to 'Preferência de comida', preferences_path %></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class='col-md-3'></div>
    <div class='col-md-9'>
      <%= yield %>
    </div>
  </div>
</body>
</html>
